*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
}
.container{
    position: relative;
    width: 67%;
    height: 66.6%;
    overflow: hidden;
}
.bg__svg{
    position: absolute;
    left: -63%;
    top: -57%;
    
}
.women__svg{
    position: absolute;
    left: -9%;
    top: 14%;
}
.box__svg{
    position: absolute;
    left: -5.2%;
    top: 40%;
    z-index: 50;
}

.sub__container{
    position: absolute;
    left:  4.5%;
    height: 100%;
    width: 95.5%;
    border-radius: 1.5rem;
    background-color: hsl(240, 5%, 91%);
    overflow: hidden;
    
}

.faq{
    padding-top: 4.3rem;
    padding-left: 3.8rem;
    position: absolute;
    right: 0;
    height: 100%;
    width: 55%;
}

/*ACCORDION*/

.accordion__container{
    padding-top: 10px;
    padding-right: 15%;
}
.accordion{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 4.1rem;
    width: 100%;  
    color: hsl(240, 6%, 50%);  
}

.accordion__tittle{
    position: relative;
    font-size: 0.9rem;
    
}
.accordion__tittle:hover {
    color: hsl(14, 88%, 65%);
}


.arrow{
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.accordion__content{
    width: 90%;
    padding-top: 5px;
    font-size: 0.75rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out; 
}


.arrow__inverse{
    transform: rotateX(180deg);
    transition: transform 0.5s ease-out;
}

.other__style{
    color: black;
}


hr{
    opacity: 0.7;
}


.attribution{
    position: absolute;
    bottom: 0;
}
.womenm__svg{display: none;}



@media (min-width: 1600px){
    .womenm__svg{display: none;}
    .bg__svg{
        left: -45%;
        top: -30%;        
    }
    .women__svg{
        left: -5%;
        top: 18%;
    }
    .box__svg{
        position: absolute;
        left: -2.7%;
        top: 37%;
    }

}

@media(max-width: 1200px){
    .womenm__svg{display: none;}
    .bg__svg{
        left: -69%;
        top: -50%;     
        transform: scale(0.8);
          
    }
    .women__svg{
        left: -12%;
        top: 18%;
        transform: scale(0.8); 
    }
    .box__svg{
        left: -7.1%;
        top: 42%;
        transform: scale(0.8); 
    }
}

@media (max-width: 1024px){
    .container{
        margin-top: 65px;
        overflow: visible;
        width: 85%;
        height: 70%;
    }

    .bg__svg{
        position: absolute;
        left: -102%;
        top: -93%;  
        transform: scale(0.27);
    }
    .women__svg{
        display: none;
    }
    .box__svg{
        display: none;
    }
    .womenm__svg{
        display: block;
        width: 90%;
        position: absolute;
        top: -113px;
        left: 45%;
        transform: translateX(-50%);
    }

    .sub__container{
        position: static;
        width: 100%;    
    }

    .faq{
        padding-top: 7rem;
        padding-left: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        width: 100%;
    }
    .faq__tittle{
        text-align: center;
    }

    .accordion__container{
        position: absolute;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        padding-top: 10px;
        padding-right: 0;
    }
    .accordion{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 4.1rem;
        width: 100%;  
        color: hsl(240, 6%, 50%);  
    }
    
    .accordion__tittle{
        position: relative;
        font-size: 0.7rem;
        
    }
    .accordion__tittle:hover {
        color: hsl(14, 88%, 65%);
    }
    
    
    .arrow{
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .accordion__content{
        width: 90%;
        padding-top: 5px;
        font-size: 0.7rem;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out; 
    }
}